.div-up {
    position: absolute;
    float: left;
    margin-top: 0;
    height: 20px;
    width: 95%;
    font-size: 12px;
}
/*#div-log{
    position: relative;
    float: left;
    width: 100%;
    height: 90%;
}*/
.div-middle{
    clear:both;
    position: absolute;
    font-size: 12px;
    margin-top: 0px;
    width: 90%;
    height: 85px;
/*    position: absolute;
    float: left;
    width: 95%;
    height: 90%;
    top: 31px;
    bottom: 25px;
    margin-top: 41px;
    margin-bottom: 25px;*/
}

.div-log{
    postition: absolute;
    width: 95%;
    /*height: -webkit-calc(100%-20px);*/
    min-height: 80px;

    margin-top: 180px;
    margin-bottom: 25px;
    font-size: 12px;
}

.div-down {
    /*clear: both;*/
    font-size: 12px;
    position:absolute;
    float: left;
    height: 20px;
    bottom: 4px;
    width: 95%;
}
a {
 /*   border-bottom:1px solid #cccccc;*/
    color:#cccccc;
 /*   display:inline-block;*/
    position:relative;
/*    text-decoration:none;*/
}
a:hover,
a:focus {
    color:#cccccc;
}
a:active {
    top:1px;
}


a[data-tooltip]:after {
    border-top: 8px solid #cccccc;
    border-top: 8px solid hsla(0,0%,0%,.85);
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    content:"";
    display:none;
    opacity:0.4;
    height:0;
    left:25%;
    position:absolute;
    width:0;
}
a[data-tooltip]:before {
    background: #cccccc;
    background: hsla(0,0%,0%,.85);
    color: #f6f6f6;
    content:attr(data-tooltip);
    display:none;
    font-family:sans-serif;
    font-size:14px;
    opacity:0.4;
    height:32px;
    left:0;
    line-height:32px;
    padding:0 15px;
    position:absolute;
    text-shadow:0 1px 1px hsla(0,0%,0%,1);
    white-space:nowrap;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
         -o-border-radius:5px;
            border-radius:5px;
}
a[data-tooltip]:hover:after {
    display:block;
    top:-9px;
}
a[data-tooltip]:hover:before {
    display:block;
    top:-41px;
}
a[data-tooltip]:active:after {
    top:-10px;
}
a[data-tooltip]:active:before {
    top:-42px;
}
