#availableDevices{
     position: absolute;
     float:left;
}
#newProxy{
    position: relative;
    float:right;
    font-size: 16px;
}

#principal{
    clear: both;
}

#tabs {
    margin-top: 20px;
    height : 80%;
    position: absolute;
    left:3px;
    width: 48%;
}

#devices{
     font-size: 12px;
}
#devices2{
    font-size: 12px;
}
#tabs2{
    margin-top: 20px;
    height: 80%;
    right: 3px;
    width: 48%;
    position: absolute;
}
#tabs li .ui-icon-close {
    float: left;
    margin: 0.4em 0.2em 0 0;
    cursor: pointer;
}

#load_device {
    cursor: pointer;
}

#tabcontent-1 {
   /* border: 1px solid #BDC7D5;*/
    font-weight: bold;
    height: 90%;
   /* font-size: 12px;*/

}

#tabcontent-2 {
   /* border: 1px solid #BDC7D5;*/
    font-weight: bold;
    height: 90%;
    /*font-size: 12px;*/
}

.select {
   font-size: 16px;
}​
