  .loadButton{margin-right:0; }
  .selectopics .ui-selecting { background: #FECA40; }
  .selectopics .ui-selected { background: #F39814; color: white; }
  .selectopics { list-style-type: none; margin: 0; padding: 0; width: 100%; height: 150px; }
  .selectopics li { margin: 1px; padding: 0.4em; }
