  .selectelements .ui-selecting { background: #FECA40; }
  .selectelements .ui-selected { background: #F39814; color: white; }
  .selectelements { list-style-type: none; margin: 0; padding: 0; width: 100%; height: 150px; }
  .selectelements li { margin: 1px; padding: 0.4em; }
