<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  </head>
<body>
    <input class="checkbox" type="checkbox" id="valueElement" name={{escape(name)}} href="{{href}}" onClick=set_resource()> Estado de {{escape(name)}} </input>
     <p> <button class="ui-button ui-button-text-only ui-widget ui-corner-all" id="updateButton" name="updateButton" onClick=refresh_resource()>Actualizar
      </button></p>
 <script type="text/javascript">{{escape(script)}} </script>
</body>
</html>
