<!DOCTYPE html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" rel="stylesheet" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/ui-darkness/jquery-ui.css" type="text/css" media="all" />

  <title>Mini INSPECTIO</title>
<style type="text/css">
#elementsAvailable{
	width: 200px;
	font-size: 0.875em;
}
#elementsAvailable * {
	padding: 10px;
}
#elementsAvailable h3{
	margin: 0;
}

h3{
	background-color: #ddd;
	padding: 5px 10px;
}

#principal{ position:relative;}

#elementsAvailable{
       position:absolute;
       float:left;
}

#dynamicPanel{
       position:relative;
       float:left;
       left:210px;
}
</style>
</head>

<body>
  <div id="principal">
    <div id="elementsAvailable" class="ui-widget">
	  <h3 class="ui-corner-top ui-widget-header">Elementos Disponibles</h3>
	  <div id="listAvailable" class="ui-corner-bottom ui-widget-content ui-menu">
	    {% for item in listAvailable %}
	         <p><a href="/handler/?proxy={% apply url_escape %}{{listAvailable[item]}}{% end %}" name="{{escape(item)}}">{{escape(item)}}</a></p>
            {% end %}
	  </div>
    </div>
    <div id="dynamicPanel" class="ui-widget ui-widget-content ui-corner-all">
	    <script type="text/javascript">
	        $("#listAvailable p a").click(function(event){
	          var href = $(this).attr("href");
	          $("#dynamicPanel").load(href);
	          event.preventDefault();
                 });
	    </script>
  </div>
</body>
</html>
