<html>
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.20/jquery-ui.min.js" rel="stylesheet" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-darkness/jquery-ui.css" type="text/css" media="all" />
  </head>
<body>
    <div class="ui-widget ui-widget-content ui-corner-all" align="center" id="dummyBool"><br style="clear:both" />
      <input class="ui-textbox" type="textbox" id="value" name={{escape(name)}} href="{{href}}"> Estado de {{escape(name)}} </input>
     <p><button class="ui-button ui-button-text-only ui-widget ui-corner-all" id="validateButton" name="validateButton" onClick=set_resource()>Validar</button>
	<button class="ui-button ui-button-text-only ui-widget ui-corner-all" id="updateButton" name="updateButton" onClick=refresh_resource()>Actualizar
      </button></p>
    <script type="text/javascript">
      $(document).ready(refresh_resource());
      function set_resource() {

	if(isNaN($("#value").val())) {
	  alert("El dummy sólo acepta números enteros");
	  return false;
	}
        if (! "WebSocket" in window) {
          alert("Tu navegador no soporta Websockets");
          return;
        }

        var ws = new WebSocket('ws://localhost:8080/inspect-dummy/?proxy='+$("#value").attr("href"));
        ws.onopen = function() {
          ws.send("set:" + $('#value').val());
        };
        ws.onmessage = function (message) {
          var data = message.data;
          $("#value").val(data);
        };
      }

      function refresh_resource() {
        if (! "WebSocket" in window) {
          alert("Tu navegador no soporta Websockets");
          return;
        }

        var ws = new WebSocket('ws://localhost:8080/inspect-dummy/?proxy='+$("#value").attr("href"));
        ws.onopen = function() {
          ws.send("get:");
        };
        ws.onmessage = function (message) {
          var data = message.data;
          $("#value").val(data);
        };
      }

    </script>
    </div>
</body>
</html>
