<html>
  <head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  </head>
<body>
      <input class="textbox" type="textbox" id="valueElement" name={{escape(name)}} href="{{href}}"> Estado de {{escape(name)}} </input>
     <p><button class="button" id="validateButton" name="validateButton" onClick=set_resource()>Validar</button>
     <button class="button" id="updateButton" name="updateButton" onClick=refresh_resource()>Actualizar</button></p>
    <script type="text/javascript">{{script}}</script>
</body>
</html>
