<!DOCTYPE HTML>
<html>
  <head>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="{{static_url('js/ActiveDevice.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{static_url('css/basic.css')}}"/>
  </head>
<body>
 <div class="draggable" draggable= "true" name="{{escape(name)}}" ondragstart="event.dataTransfer.setData('text/plain','{{href}}');" style="font-size: 12px;">
	Proxy: {{href}}
</div>
<div class="div-middle">
	</br><hr>
	Observer:</br></br>
	<center><a data-tooltip="Copie o arrastre el proxy a este textbox"><input class="textbox observer droppable" draggable="true" type="text" id="active{{escape(name)}}{{suffix}}" name={{escape(name)}} href="{{href}}" placeholder="{{observer}}" style="width: 80%;"/></a></center></br>
	<center><button class="button" id="setButton{{escape(name)}}{{suffix}}" name={{escape(name)}} onClick=setObserver(name,"{{suffix}}","{{serverIP}}")>Validate</button>
	<button class="button" id="getButton{{escape(name)}}{{suffix}}" name={{escape(name)}} onClick=getObserver(name,"{{suffix}}","{{serverIP}}")>Refresh</button></center>
</div>
      <div class="div-down">
	Model:
	<select name="{{escape(name)}}" id="listModels{{escape(name)}}{{suffix}}" model={{model}} href="{{href}}" onChange=change_model(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in models %}
	  <option model={{model}} {%if model==item%} selected {%end if%}>{{item}}</option>
	  {% end %}
	</select>
    </div>
<script>
var holder = document.getElementById('active{{escape(name)}}{{suffix}}');

holder.ondragover = function() {
    this.className = 'hover';
    return false;
};
holder.ondragend = function() {
    this.className = '';
    return false;
};
holder.ondrop = function(e) {
    this.className = '';
    e.preventDefault();
    $('#active{{escape(name)}}{{suffix}}').val(e.dataTransfer.getData('text/plain'));
    return false;
};
</script>
</body>
</html>
