<!DOCTYPE HTML>
<html>
  <head>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type="text/javascript" src="{{static_url('js/Asda.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{static_url('css/basic.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{static_url('css/topic.css')}}"/>
  </head>
<body>
      <div class="draggable" id="topic{{escape(name)}}{{suffix}}" name ="{{escape(name)}}" href="{{href}}" style="font-size: 12px; height:30px;">
	 {{href}}
      </div>
      <div class="div-middle">
	<hr>
	Announcements:<button class="button" id="loadTopic{{suffix}}" name="loadTopic{{suffix}}" onClick=loadDevice("{{suffix}}") style="float: right; margin-right:2px">Load Device</button></br></br>
	</br>
	<div id="div_topicList" style=" max-height: 100%;">
	<ul id="elementList{{suffix}}" class="selectelements ui-selectable elements{{suffix}}">
	</ul>
	</div>

      </div>
    <div class="div-down">
	Model:
	<select name="{{escape(name)}}"  class="right" id="listModels{{escape(name)}}{{suffix}}" model={{model}} href="{{href}}" onChange=change_model(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in models %}
	  <option model={{model}} {%if (model==item)%} selected{%end if%}>{{item}}</option>
	  {% end %}
	</select>
	View:
	<select name="{{escape(name)}}" id="listViews{{escape(name)}}{{suffix}}" view={{view}} onChange=change_view(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in views %}
	  <option view={{view}} model={{model}} {%if view==item%} selected{%end if%}>{{escape(item)}}</option>
	  {% end %}
	</select>
      </div>
<script>
$(document).ready(function(){
     waitAnnouncements("{{escape(name)}}","{{suffix}}","{{serverIP}}");
     $( ".selectelements" ).selectable();
     $(".draggable").draggable({
	containment: 'window',
        revert: true,
        helper: 'clone',
        start: function(event, ui) {
            $(this).fadeTo('fast', 0.5);
        },
        stop: function(event, ui) {
            $(this).fadeTo(0, 1);
        }
    });
});
</script>
</body>
</html>
