<!DOCTYPE HTML>
<html>
  <head>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="{{static_url('js/BooleanDevice.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{static_url('css/basic.css')}}"/>
<style>
.checkbox {
        width: 50px;
        height: 50px;
        margin-top:40px;
}
.hideLog{
	  display: none;
}
.log{
	  display: none;
}


</style>
  </head>
<body>
      <div class="draggable" draggable="true" name ="{{escape(name)}}" ondragstart="event.dataTransfer.setData('text/plain','{{href}}');" style="font-size: 12px; height:30px;">
	Proxy: {{href}}
     </div>
      <div class="div-middle">
      <hr>
        <center><input class="state{{escape(name)}} checkbox" type="checkbox" id="stateDevice{{escape(name)}}{{suffix}}" name={{escape(name)}} href="{{href}}" style="width:80px;" onClick=set_state(name,"{{suffix}}","{{serverIP}}");></input></center></br>
          <center><button class="button updateButton" id="upButton{{escape(name)}}{{suffix}}" name={{escape(name)}} onClick=refresh_state(name,"{{suffix}}","{{serverIP}}")>Refresh</button></center></br><hr>
    </div>
        <div class = "div-log">
	    <button id="showLog{{escape(name)}}{{suffix}}" name={{escape(name)}} onClick=$('#log{{escape(name)}}{{suffix}}').show();$(this).hide();$('#hideLog{{escape(name)}}{{suffix}}').show();>+</button>
      <button class="hideLog" id="hideLog{{escape(name)}}{{suffix}}" name={{escape(name)}} onClick=$('#log{{escape(name)}}{{suffix}}').hide();$(this).hide();$('#showLog{{escape(name)}}{{suffix}}').show();>-</button>
            Log:
        <textarea id="log{{escape(name)}}{{suffix}}" class="log{{escape(name)}} log" style="min-width:98%;max-width:98%; bottom:5px; height:75px; resize: inherit;" readonly></textarea>
      </div>
    <div class="div-down">
        Model:
        <select name="{{escape(name)}}"  class="right" id="listModels{{escape(name)}}{{suffix}}" model={{model}} href="{{href}}" onChange=change_model(this.options[this.selectedIndex].value,name,"{{suffix}}")>
          {%for item in models %}
          <option model={{model}} {%if (model==item)%} selected{%end if%}>{{item}}</option>
          {% end %}
        </select>
        View:
        <select name="{{escape(name)}}" id="listViews{{escape(name)}}{{suffix}}" view={{view}} onChange=change_view(this.options[this.selectedIndex].value,name,"{{suffix}}")>
          {%for item in views %}
          <option view={{view}} model={{model}} {%if view==item%} selected{%end if%}>{{escape(item)}}</option>
          {% end %}
        </select>
      </div>
<script>
$(document).ready(function(){
    $('.updateButton').click();
    $('.log{{escape(name)}}').hide();
});
</script>
</body>
</html>
