<!DOCTYPE HTML>
<html>
  <head>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{{static_url('js/treeView/jquery.treeview.css')}}" />
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

	<script src="{{static_url('js/treeView/lib/jquery.cookie.js')}}" type="text/javascript"></script>
	<script src="{{static_url('js/treeView/jquery.treeview.js')}}" type="text/javascript"></script>

    <script type="text/javascript" src="{{static_url('js/container.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{static_url('css/basic.css')}}"/>
  </head>

  <body>
      <div class="draggable" name="{{escape(name)}}" draggable="true"  ondragstart="event.dataTransfer.setData('text/plain','{{href}}');" style="font-size: 12px;" >
	Proxy: {{href}}
      </div>
      <div class="div-middle"></br><hr>
	<div class="container" id="container{{escape(name)}}{{suffix}}" name={{escape(name)}} href="{{href}}">
	<ul><li><a data-tooltip="Arrastre hasta aquí el proxy del nuevo hijo">{{escape(name)}}</a>
		{%for child in childs%}
		<ul><li id ="container{{escape(name)}}{{suffix}}_{{child}}" name={{child}} href="{{childs[child]}}" onClick=loadChildren(id)><a>{{child}}</a></li></ul>
		{% end %}
	</li></ul>
      </div>
      </div>
      <div class="div-down">
	Model:
	<select name="{{escape(name)}}" id="listModels{{escape(name)}}{{suffix}}" model={{model}} href="{{href}}" onChange=change_model(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in models %}
	  <option model={{model}} {%if model==item%} selected {%end if%}>{{item}}</option>
	  {% end %}
	</select>
	</div>
    <script>
      $(document).ready(function(){
      $('.container').treeview({
		animated:"normal",
                unique: true,
		persist: "location"
	});
      });

var droppable = document.getElementById('container{{escape(name)}}{{suffix}}');

droppable.ondragover = function() {
      this.className = 'hover';
      return false;
};
droppable.ondragend = function() {
    this.className = '';
    return false;
};
droppable.ondrop = function(e) {
    this.className = '';
    e.preventDefault();
    //$('container{{escape(name)}}{{suffix}}').val(e.dataTransfer.getData('Text'));
      alert(e.dataTransfer.getData('Text'));
      linkChild("{{escape(name)}}","{{suffix}}","{{serverIP}}",e.dataTransfer.getData('text/plain'));
    return false;
};
    </script>
  </body>
</html>
