<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>INSPECTIO</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="http://static.jstree.com/v.1.0pre/jquery.jstree.js"></script>
  <link rel="stylesheet" type="text/css" href="{{static_url('css/directory_UI.css')}}"/>
  <script type="text/javascript" src="{{static_url('js/directory_UI.js')}}"></script>
</head>
<body>
      <div id="newProxy">
	New Proxy: <input class="textbox droppable" type="text" style="width:200px;" id="introducedProxy"></input>
      <button class="button" id="searchProxy" name="searchButton">Search</button>
      </div>
      <div id="availableDevices">
	<select class= "select" name="devices" id="listDevices">
	  {%for item in availableDevices %}
	  <option value="/handler/?proxy={% apply url_escape %}{{availableDevices[item]}}{% end %}&view=default&model=default" name="{{escape(item)}}">{{escape(item)}}</option>
	  {% end %}
	</select>
	<button class="button" id="loadDevice" name="loadButton">Load</button>
    </div>
    <div id="principal">
      <div id="tabs2">
	<ul id="devices2">
	</ul>
	<div id = "tabcontent-2">
	</div>
      </div>
      <div id="tabs">
	  <ul id="devices">
	  </ul>
	  <div id = "tabcontent-1">
	  </div>
      </div>
    </div>
</body>
</html>
