<!DOCTYPE HTML>
<html>
  <head>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="http://jordankasper.com/jquery/imagecheck/jquery.simpleImageCheck-0.4.js"></script>
<script type="text/javascript" src="{{static_url('js/BooleanDevice.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{static_url('css/basic.css')}}"/>
<style>
    .cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background:url("{{static_url('pixmaps/switch.gif')}}") repeat-x; display: block; float: left; }
    .cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
    .cb-enable span { background-position: left -90px; padding: 0 5px; }
    .cb-disable span { background-position: right -180px;padding: 0 5px; }
    .cb-disable.selected { background-position: 0 -30px; }
    .cb-disable.selected span { background-position: right -210px; color: #fff; }
    .cb-enable.selected { background-position: 0 -60px; }
    .cb-enable.selected span { background-position: left -150px; color: #fff; }
    .switch label { cursor: pointer;}
    .switch input { display: none; }
.hideLog{
	  display: none;
}
.log{
	  display: none;
}

</style>
  </head>
<body>
      <div class="draggable" name ="{{escape(name)}}" draggable="true" ondragstart="event.dataTransfer.setData('text/plain','{{href}}');" style="font-size: 12px;height: 30px;">
	Proxy: {{href}}
      </div>
      <div class="div-middle">
      <hr>
<p class="field switch" style ="width:120px; margin-top:57px;margin-left: auto ;  margin-right: auto ;" >
    <input type="radio" id="radio1" name="field" />
    <input type="radio" id="radio2" name="field" />
    <label for="radio1" class="cb-enable selected"><span>Enable</span></label>
    <label for="radio2" class="cb-disable"><span>Disable</span></label>
   <input class="state{{escape(name)}}" type="checkbox" id="stateDevice{{escape(name)}}{{suffix}}" name={{escape(name)}} href="{{href}}" onClick=set_state(name,"{{suffix}}","{{serverIP}}")></input></p></br>

<div id="update" style ="margin-top:28px;" >
<center></br><button class="button updateButton" id="upButton{{escape(name)}}{{suffix}}" name={{escape(name)}} onClick=refresh_state(name,"{{suffix}}","{{serverIP}}"); act_view();>Refresh</button></center></br><hr>
</div>
</div>
<div class = "div-log">
	    <button id="showLog{{escape(name)}}{{suffix}}" name={{escape(name)}} onClick=$('#log{{escape(name)}}{{suffix}}').show();$(this).hide();$('#hideLog{{escape(name)}}{{suffix}}').show();>+</button>
      <button class="hideLog" id="hideLog{{escape(name)}}{{suffix}}" name={{escape(name)}} onClick=$('#log{{escape(name)}}{{suffix}}').hide();$(this).hide();$('#showLog{{escape(name)}}{{suffix}}').show();>-</button>
            Log:
	<textarea id="log{{escape(name)}}{{suffix}}" class="log{{escape(name)}} log" style="min-width:98%;max-width:98%; bottom:5px; height:75px; resize: inherit;" readonly></textarea>
      </div>

    <div class="div-down">
	Model:
	<select name="{{escape(name)}}"  class="right" id="listModels{{escape(name)}}{{suffix}}" model={{model}} href="{{href}}" onChange=change_model(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in models %}
	  <option model={{model}} {%if (model==item)%} selected{%end if%}>{{item}}</option>
	  {% end %}
	</select>
	View:
	<select name="{{escape(name)}}" id="listViews{{escape(name)}}{{suffix}}" view={{view}} onChange=change_view(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in views %}
	  <option view={{view}} model={{model}} {%if view==item%} selected{%end if%}>{{escape(item)}}</option>
	  {% end %}
	</select>
      </div>
<script>

$(document).ready(function(){
    $('.updateButton').click();
});
    $(".cb-enable").click(function(){
        var parent =  $(this).parents('.switch');
        $('.cb-disable',parent).removeClass('selected');
        $(this).addClass('selected');
        $('.state{{escape(name)}}').prop('checked', true);
        //alert( $('.state{{escape(name)}}').is(':checked'));
	set_state("{{escape(name)}}","{{suffix}}");
    });
    $(".cb-disable").click(function(){
        var parent = $(this).parents('.switch');
        $('.cb-enable',parent).removeClass('selected');
        $(this).addClass('selected');
        $('.state{{escape(name)}}').prop('checked', false);
        //alert( $('.state{{escape(name)}}').is(':checked'));
	set_state("{{escape(name)}}","{{suffix}}");
    });

function act_view(){
    if ( $('.state{{escape(name)}}').is(':checked')){
      //alert('llega true');

     var parent = $(".cb-enable").parents('.switch');
      $('.cb-disable',parent).removeClass('selected');
      $('.cb-enable',parent).addClass('selected');
    }else{
      var parent = $(".cb-disable").parents('.switch');
      $('.cb-enable',parent).removeClass('selected');
      $('.cb-disable',parent).addClass('selected');
    }
}

</script>
</body>
</html>
