<!DOCTYPE HTML>
<html>
  <head>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="{{static_url('js/ObjectDevice.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{static_url('css/basic.css')}}"/>
    <style type="text/css">
      table{
	  width: 100%;
          border:1px solid black;
          border-collapse:collapse;
      }
      td{
	  border:1px solid black;
          border-collapse:collapse;
      }
      th{
	  border:1px solid black;
          border-collapse:collapse;
          background-color:black;
          color:white;

      }
    </style>
  </head>
<body>
<div class="draggable" name="{{escape(name)}}" draggable="true" ondragstart="event.dataTransfer.setData('text/plain','{{href}}');" style="font-size: 12px;">
      Proxy: {{href}}
</div>
<div class="div-middle">
<hr>
</br></br>
      <table>
	<tr>
	  <th>Variable</th><th>Value</th>
	</tr>
	<tr>
	  <td>Identity</td><td>{{properties['Identity']}}</td>
	</tr>
	<tr>
	  <td>Type ID</td><td>{{properties['TypeID']}}</td>
	</tr>
	<tr>
	  <td>IDs</td><td>{{properties['IDs']}}</td>
	</tr>
	<tr>
	  <td>Endpoints</td><td>{{properties['Endpoints']}}</td>
	</tr>
	<tr>
	  <td>Callback</td><td></td>
	</tr>
	<tr>
	  <td>Topic</td><td></td>
	</tr>
      </table>

</div>
    <div class="div-down">
    Model:
    <select name="{{escape(name)}}" id="listModels{{escape(name)}}{{suffix}}" model={{model}} href="{{href}}" onChange=change_model(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in models %}
	  <option model={{model}} {%if model==item%} selected{%end if%}>{{item}}</option>
	  {% end for%}
	</select>
</div>
<script>
$(document).ready(function(){
    <!-- $(".droppable").droppable({ -->
    <!-- 	containment: "window", -->
    <!--     hoverClass: 'active', -->
    <!--     drop: function(event, ui) { -->
    <!--         this.value = $(ui.draggable).text(); -->
    <!--     } -->
    <!-- }); -->
    $(".draggable").draggable({
	containment: 'window',
        revert: true,
        helper: 'clone',
        start: function(event, ui) {
            $(this).fadeTo('fast', 0.5);
        },
        stop: function(event, ui) {
            $(this).fadeTo(0, 1);
        }
    });
});
</script>
</body>
</html>
