<!DOCTYPE HTML>
<html>
  <head>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type="text/javascript" src="{{static_url('js/ByteDevice.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{static_url('css/basic.css')}}"/>
<style>
.spinnerByte {
	width: 50px;
	height: 57px;
	top:62px;
	font-weight: bold;
	font-size: 22px;
	text-aling: center;
}
.hideLog{
	  display: none;
}
.log{
	  display: none;
}
</style>
  </head>
<body>
      <div class="draggable" name="{{escape(name)}}" draggable="true" ondragstart="event.dataTransfer.setData('text/plain','{{href}}');" style="font-size: 12px;">
	Proxy: {{href}}
      </div>
      <div class="div-middle">
      </br><hr></br></br>
	<center><input class="spinnerByte value{{escape(name)}}" id="valueDevice{{escape(name)}}{{suffix}}" name={{escape(name)}} href="{{href}}" style="width:80px;"></input></center></br>
	<center><button class="button" id="validateButton{{escape(name)}}{{suffix}}" name={{escape(name)}} onClick=set_value(name,"{{suffix}}","{{serverIP}}") >Validate</button>
	<button class="button updateButton" id="updateButton{{escape(name)}}{{suffix}}" name={{escape(name)}} onClick=refresh_value(name,"{{suffix}}","{{serverIP}}")>Refresh</button></center></br><hr>
      </div>
        <div class = "div-log">
	    <button id="showLog{{escape(name)}}{{suffix}}" name={{escape(name)}} onClick=$('#log{{escape(name)}}{{suffix}}').show();$(this).hide();$('#hideLog{{escape(name)}}{{suffix}}').show();>+</button>
      <button class="hideLog" id="hideLog{{escape(name)}}{{suffix}}" name={{escape(name)}} onClick=$('#log{{escape(name)}}{{suffix}}').hide();$(this).hide();$('#showLog{{escape(name)}}{{suffix}}').show();>-</button>
            Log:
            <textarea id="log{{escape(name)}}{{suffix}}" class="log{{escape(name)}} log textarea" spellcheck="false" style="min-width:98%;max-width:98%; bottom:5px; height:75px;" readonly></textarea>
        </div>
      <div class="div-down">
	Model:
	<select name="{{escape(name)}}" id="listModels{{escape(name)}}{{suffix}}" model={{model}} href="{{href}}" onChange=change_model(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in models %}
	     <option  model={{model}} {% if model==item%} selected={% end %}>{{item}}</option>
	  {% end %}
	</select>
	View:
	<select name="{{escape(name)}}" id="listViews{{escape(name)}}{{suffix}}" view={{view}} onChange=change_view(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in views %}
	  <option view={{view}}  model={{model}} {%if view==item%} selected{%end if%}>{{escape(item)}}</option>
	  {% end %}
	</select>
      </div>
    <script type="text/javascript">
    $(document).ready(function(){
      $('.updateButton').click();
    });
      $("#valueDevice{{escape(name)}}{{suffix}}").spinner({
        min: 0,
        max: 255
    });
      //$("#valueDevice{{escape(name)}}").keypress(function(event){
      $(".value{{escape(name)}}").keydown(function(event){
	var keycode = (event.keyCode ? event.keyCode : event.which);
       // alert(String.fromCharCode(event.which));q
        if(keycode=='13'){
           key = $(this).val();
           $(".value{{escape(name)}}").val(key);
           $("#validateButton{{escape(name)}}{{suffix}}").click();
	}
      });
    </script>
</body>
</html>
