<!DOCTYPE HTML>
<html>
  <head>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type="text/javascript" src="{{static_url('js/Topic.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{static_url('css/basic.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{static_url('css/topic.css')}}"/>
<script>
$(document).ready(function(){
    $('.updateButton').click();
});
</script>
  </head>
<body>
    <div id="dynamicPanel{{escape(name)}}{{suffix}}" class="dynamic dynamicPanel{{escape(name)}}{{suffix}}" href="{{href}}">
      <div class="div-up" name ="{{escape(name)}}" href="{{href}}">
	Topic: {{href}}
      </div>
      <div class="div-middle">
	</br></br></br><hr>
	Announcements:<br>
	<div id="div_topicList">
<select id="elementList{{suffix}}" multiple="multiple" class= "selectelements" >

</select>
	</div>
	<center><button class="button" id="loadTopic{{suffix}}" name="loadTopic{{suffix}}" onClick=loadDevice("{{suffix}}")>Load Device</button></center>
      </div>

    <div class="div-down">
	Model:
	<select name="{{escape(name)}}"  class="right" id="listModels{{escape(name)}}{{suffix}}" model={{model}} href="{{href}}" onChange=change_model(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in models %}
	  <option model={{model}} {%if (model==item)%} selected{%end if%}>{{item}}</option>
	  {% end %}
	</select>
	View:
	<select name="{{escape(name)}}" id="listViews{{escape(name)}}{{suffix}}" view={{view}} onChange=change_view(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in views %}
	  <option view={{view}} model={{model}} {%if view==item%} selected{%end if%}>{{escape(item)}}</option>
	  {% end %}
	</select>
      </div>
 </div>
<script>
$(document).ready(function(){
     waitAnnouncements("{{escape(name)}}","{{suffix}}");
});
</script>
</body>
</html>
