<!DOCTYPE HTML>
<html>
  <head>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type="text/javascript" src="{{static_url('js/TopicList.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{static_url('css/basic.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{static_url('css/topic_mng.css')}}"/>
<style>
.droppable.over {
  border: 2px dashed #000;
}
</style>
  </head>
<body>
      <div class="draggable" name ="{{escape(name)}}" style="font-size: 12px; height:30px;">
	Topics:
      </div>
      <div class="div-middle">
	<hr>
	<button class="button loadButton" id="loadTopic{{suffix}}" name="loadTopic{{suffix}}" onClick=loadTopic("{{suffix}}") style="float: right; margin-right:2px" >Load Topic</button></br></br>
	</br>
	<ul id="topicList{{suffix}}" href="{{href}}" class="selectopics ui-selectable topics{{suffix}}">
	  {% for topic in topics %}
	  <li class="ui-widget-content ui-selectee topicDroppable" id="topic_{{escape(name)}}{{suffix}}" href="{{topics[topic]}}">{{topic}}</li>
	  {%end%}
	</ul>
      </div>
      <div class="div-down">
	Model:
	<select name="{{escape(name)}}"  class="right" id="listModels{{escape(name)}}{{suffix}}" model={{model}} href="{{href}}" onChange=change_model(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in models %}
	  <option model={{model}} {%if (model==item)%} selected{%end if%}>{{item}}</option>
	  {% end %}
	</select>
	View:
	<select name="{{escape(name)}}" id="listViews{{escape(name)}}{{suffix}}" view={{view}} onChange=change_view(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in views %}
	  <option view={{view}} model={{model}} {%if view==item%} selected{%end if%}>{{escape(item)}}</option>
	  {% end %}
	</select>
      </div>
  <script>
  $(function() {
    $( ".selectopics" ).selectable();
  });

function handleDragStart(e) {
  this.style.opacity = '0.4';
}

function handleDragOver(e) {
  if (e.preventDefault) {
    e.preventDefault();
  }
  e.dataTransfer.dropEffect = 'move';
  return false;
}

function handleDragEnter(e) {
  this.classList.add('over');
}

function handleDragLeave(e) {
  this.classList.remove('over');
}

function handleDrop(e) {

  if (e.stopPropagation) {
    e.stopPropagation();
  }

   subscribe2topic($(this).attr('href'), e.dataTransfer.getData('text/plain'),'{{suffix}}','{{serverIP}}');
  return false;
}

function handleDragEnd(e) {

  [].forEach.call(cols, function (col) {
    col.classList.remove('over');
  });
}

var cols = document.querySelectorAll('.topicDroppable');
[].forEach.call(cols, function(col) {
  col.addEventListener('dragstart', handleDragStart, false);
  col.addEventListener('dragenter', handleDragEnter, false)
  col.addEventListener('dragover', handleDragOver, false);
  col.addEventListener('dragleave', handleDragLeave, false);
  col.addEventListener('drop', handleDrop, false);
  col.addEventListener('dragend', handleDragEnd, false);
});
 </script>
</body>
</html>
