<!DOCTYPE HTML>
<html>
  <head>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type="text/javascript" src="{{static_url('js/TopicList.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{static_url('css/basic.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{static_url('css/topic_mng.css')}}"/>
  </head>
<body>
<div id="dynamicPanel{{escape(name)}}{{suffix}}" class="dynamic dynamicPanel{{escape(name)}}{{suffix}}">
      <div class="div-up" name ="{{escape(name)}}">
	TopicManager: {{href}}
      </div>
      <div class="div-middle">
	</br></br></br><hr>
	  Topics Registered:<br>
	<select id="topicList{{suffix}}" multiple="multiple" class="selectopics ui-selectable topics{{suffix}}">
	  {% for topic in topics %}
	 <option class="ui-widget-content ui-selectee" id="topic_{{escape(name)}}{{suffix}}" href="{{topics[topic]}}">{{topic}} : {{topics[topic]}}</option>
	  {%end%}
	</select>
	<button class="button" id="loadTopic{{suffix}}" name="loadTopic{{suffix}}" onClick=loadTopic("{{suffix}}")>Load Topic</button>
      </div>
      <div class="div-down">
	Model:
	<select name="{{escape(name)}}"  class="right" id="listModels{{escape(name)}}{{suffix}}" model={{model}} href="{{href}}" onChange=change_model(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in models %}
	  <option model={{model}} {%if (model==item)%} selected{%end if%}>{{item}}</option>
	  {% end %}
	</select>
	View:
	<select name="{{escape(name)}}" id="listViews{{escape(name)}}{{suffix}}" view={{view}} onChange=change_view(this.options[this.selectedIndex].value,name,"{{suffix}}")>
	  {%for item in views %}
	  <option view={{view}} model={{model}} {%if view==item%} selected{%end if%}>{{escape(item)}}</option>
	  {% end %}
	</select>
      </div>
    </div>
</body>
</html>
